<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.entregoya.entregouser">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.entregoya.entregouser.EntregoUserApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.entregoya.entregouser.web.glide.CustomGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            tools:node="remove" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.entregoya.entregouser.ui.intro.IntroActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name="com.entregoya.entregouser.ui.registration.SuccessRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.entregoya.entregouser.ui.auth.AuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.entregoya.entregouser.ui.registration.RegistrationActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.intro.IntroActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.intro.IntroActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.intro.registration.RegistrationFbActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.intro.IntroActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.intro.IntroActivity" />
        </activity>

        <activity
            android:name="com.entregoya.entregouser.ui.auth.restore.RestorePasswordActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.auth.AuthActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.auth.AuthActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.auth.restore.SuccessRestoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.entregoya.entregouser.ui.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.entregoya.entregouser.ui.profile.edit.EditProfileActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.entregoya.entregouser.ui.faq.FaqListActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.faq.FaqDetailActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.faq.FaqListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.faq.FaqListActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.escort.cancel.CancelDeliveryActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.escort.cancel.SuccessCancelActivity"
            android:noHistory="true"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.escort.chat.ChatMessengerActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.finish.FinishDeliveryActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.delivery.escort.status.StatusDeliveryActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.escort.root.EscortActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.payment.PaymentMethodActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.payment.card.add.AddCardActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.payment.PaymentMethodActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.payment.PaymentMethodActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.payment.wallet.AddMoneyToWalletActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.payment.PaymentMethodActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.payment.PaymentMethodActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.history.HistoryDeliveriesActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.history.details.DetailsDeliveryActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.entregoya.entregouser.ui.history.HistoryDeliveriesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.history.HistoryDeliveriesActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.autocomplete.EntregoAutocompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.entregoya.entregouser.ui.favorites.FavoritesActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.history.incidents.IncidentsActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.history.details.DetailsDeliveryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.history.details.DetailsDeliveryActivity" />
        </activity>
        <activity android:name="com.entregoya.entregouser.ui.comon.DescriptionWithTopicActivity" />
        <activity
            android:name="com.entregoya.entregouser.ui.comon.AboutEntregoActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.comon.ContactUsActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.comon.WorkForUsActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.comon.UserManualActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>
        <activity
            android:name="com.entregoya.entregouser.ui.manual.ManualActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.delivery.create.RootActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.delivery.create.RootActivity" />
        </activity>

        <service android:name="com.entregoya.entregouser.web.socket.SocketService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="463a399516cd719b0fab38747783c8aeed730201" />

        <activity
            android:name="com.entregoya.entregouser.ui.profile.edit.photo.UploadPhotoActivity"
            android:parentActivityName="com.entregoya.entregouser.ui.profile.edit.EditProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.entregoya.entregouser.ui.profile.edit.EditProfileActivity" />
        </activity>
    </application>

</manifest>